.search-container {
  margin-bottom: 20px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipe-card h2 {
  margin-bottom: 10px;
}

.recipe-card ul {
  list-style: none;
  padding: 0;
}

.recipe-card ul li {
  margin-bottom: 5px;
}
.hello-text{
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}